# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

CLAUDE.md
.idea

# Local backend environment
backend/docker-compose.local.yml
backend/src/main/resources/application-local.yaml
/.idea/

# Local test SQL
docs/LikeQueryTest.sql
